<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Idle_black.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{29, 10}, {38, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{38, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 369}, {38, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Idle_red.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{29, 10}, {38, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{38, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 369}, {38, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run_black_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 12}, {66, 84}}</string>
			<key>spriteOffset</key>
			<string>{-5, -6}</string>
			<key>spriteSize</key>
			<string>{66, 84}</string>
			<key>spriteSourceSize</key>
			<string>{90, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{108, 369}, {66, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run_black_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 14}, {56, 82}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{56, 82}</string>
			<key>spriteSourceSize</key>
			<string>{90, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{50, 369}, {56, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run_black_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 10}, {46, 86}}</string>
			<key>spriteOffset</key>
			<string>{-3, -5}</string>
			<key>spriteSize</key>
			<string>{46, 86}</string>
			<key>spriteSourceSize</key>
			<string>{90, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 369}, {46, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run_black_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 6}, {32, 90}}</string>
			<key>spriteOffset</key>
			<string>{5, -3}</string>
			<key>spriteSize</key>
			<string>{32, 90}</string>
			<key>spriteSourceSize</key>
			<string>{90, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{220, 277}, {32, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run_black_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {51, 86}}</string>
			<key>spriteOffset</key>
			<string>{5, -1}</string>
			<key>spriteSize</key>
			<string>{51, 86}</string>
			<key>spriteSourceSize</key>
			<string>{79, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{167, 277}, {51, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run_black_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 10}, {61, 86}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{61, 86}</string>
			<key>spriteSourceSize</key>
			<string>{79, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 277}, {61, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run_black_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {53, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, -7}</string>
			<key>spriteSize</key>
			<string>{53, 82}</string>
			<key>spriteSourceSize</key>
			<string>{79, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{49, 277}, {53, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run_black_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 8}, {45, 88}}</string>
			<key>spriteOffset</key>
			<string>{-2, -4}</string>
			<key>spriteSize</key>
			<string>{45, 88}</string>
			<key>spriteSourceSize</key>
			<string>{79, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 277}, {45, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run_black_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{25, 6}, {33, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{33, 90}</string>
			<key>spriteSourceSize</key>
			<string>{81, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 185}, {33, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run_black_9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {52, 85}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{52, 85}</string>
			<key>spriteSourceSize</key>
			<string>{82, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 185}, {52, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run_red_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 12}, {67, 84}}</string>
			<key>spriteOffset</key>
			<string>{1, -6}</string>
			<key>spriteSize</key>
			<string>{67, 84}</string>
			<key>spriteSourceSize</key>
			<string>{97, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{59, 185}, {67, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run_red_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 14}, {55, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, -7}</string>
			<key>spriteSize</key>
			<string>{55, 82}</string>
			<key>spriteSourceSize</key>
			<string>{97, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 185}, {55, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run_red_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 10}, {47, 86}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{47, 86}</string>
			<key>spriteSourceSize</key>
			<string>{97, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 93}, {47, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run_red_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {33, 90}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{33, 90}</string>
			<key>spriteSourceSize</key>
			<string>{79, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{119, 93}, {33, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run_red_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 6}, {51, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, -1}</string>
			<key>spriteSize</key>
			<string>{51, 86}</string>
			<key>spriteSourceSize</key>
			<string>{79, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 93}, {51, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run_red_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 10}, {62, 85}}</string>
			<key>spriteOffset</key>
			<string>{2, -5}</string>
			<key>spriteSize</key>
			<string>{62, 85}</string>
			<key>spriteSourceSize</key>
			<string>{92, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 93}, {62, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run_red_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 12}, {54, 83}}</string>
			<key>spriteOffset</key>
			<string>{-1, -6}</string>
			<key>spriteSize</key>
			<string>{54, 83}</string>
			<key>spriteSourceSize</key>
			<string>{92, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 2}, {54, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run_red_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 8}, {46, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, -4}</string>
			<key>spriteSize</key>
			<string>{46, 87}</string>
			<key>spriteSourceSize</key>
			<string>{92, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 2}, {46, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run_red_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 6}, {34, 89}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{34, 89}</string>
			<key>spriteSourceSize</key>
			<string>{92, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{56, 2}, {34, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run_red_9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 6}, {52, 85}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{52, 85}</string>
			<key>spriteSourceSize</key>
			<string>{92, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {52, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{256, 512}</string>
	</dict>
</dict>
</plist>