<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Explode_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 12}, {78, 80}}</string>
			<key>spriteOffset</key>
			<string>{2, -5}</string>
			<key>spriteSize</key>
			<string>{78, 80}</string>
			<key>spriteSourceSize</key>
			<string>{90, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 90}, {78, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Explode_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {82, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{82, 80}</string>
			<key>spriteSourceSize</key>
			<string>{90, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 86}, {82, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Explode_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{90, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Explode_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {88, 82}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{88, 82}</string>
			<key>spriteSourceSize</key>
			<string>{92, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 2}, {88, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_black_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 8}, {33, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{33, 87}</string>
			<key>spriteSourceSize</key>
			<string>{59, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 400}, {33, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_black_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 18}, {37, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, -9}</string>
			<key>spriteSize</key>
			<string>{37, 77}</string>
			<key>spriteSourceSize</key>
			<string>{59, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{165, 171}, {37, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_black_10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 14}, {33, 81}}</string>
			<key>spriteOffset</key>
			<string>{3, -7}</string>
			<key>spriteSize</key>
			<string>{33, 81}</string>
			<key>spriteSourceSize</key>
			<string>{59, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{75, 332}, {33, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_black_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 22}, {37, 73}}</string>
			<key>spriteOffset</key>
			<string>{3, -11}</string>
			<key>spriteSize</key>
			<string>{37, 73}</string>
			<key>spriteSourceSize</key>
			<string>{59, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{165, 250}, {37, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_black_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 24}, {37, 71}}</string>
			<key>spriteOffset</key>
			<string>{1, -12}</string>
			<key>spriteSize</key>
			<string>{37, 71}</string>
			<key>spriteSourceSize</key>
			<string>{59, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{41, 172}, {37, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_black_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 0}, {31, 91}}</string>
			<key>spriteOffset</key>
			<string>{3, 2}</string>
			<key>spriteSize</key>
			<string>{31, 91}</string>
			<key>spriteSourceSize</key>
			<string>{59, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{71, 415}, {31, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_black_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 1}, {39, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{39, 89}</string>
			<key>spriteSourceSize</key>
			<string>{59, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 168}, {39, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_black_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {41, 77}}</string>
			<key>spriteOffset</key>
			<string>{-1, 3}</string>
			<key>spriteSize</key>
			<string>{41, 77}</string>
			<key>spriteSourceSize</key>
			<string>{59, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 2}, {41, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_black_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 4}, {27, 89}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{27, 89}</string>
			<key>spriteSourceSize</key>
			<string>{59, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{225, 2}, {27, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_black_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {35, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -7}</string>
			<key>spriteSize</key>
			<string>{35, 81}</string>
			<key>spriteSourceSize</key>
			<string>{59, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 317}, {35, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_black_9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 24}, {37, 71}}</string>
			<key>spriteOffset</key>
			<string>{-1, -12}</string>
			<key>spriteSize</key>
			<string>{37, 71}</string>
			<key>spriteSourceSize</key>
			<string>{59, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 172}, {37, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_red_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 10}, {33, 86}}</string>
			<key>spriteOffset</key>
			<string>{-3, -5}</string>
			<key>spriteSize</key>
			<string>{33, 86}</string>
			<key>spriteSourceSize</key>
			<string>{75, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{115, 259}, {33, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_red_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 20}, {37, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, -10}</string>
			<key>spriteSize</key>
			<string>{37, 76}</string>
			<key>spriteSourceSize</key>
			<string>{71, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 185}, {37, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_red_10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{25, 14}, {34, 82}}</string>
			<key>spriteOffset</key>
			<string>{3, -7}</string>
			<key>spriteSize</key>
			<string>{34, 82}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{39, 319}, {34, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_red_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 24}, {37, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -12}</string>
			<key>spriteSize</key>
			<string>{37, 72}</string>
			<key>spriteSourceSize</key>
			<string>{71, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 263}, {37, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_red_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 26}, {37, 70}}</string>
			<key>spriteOffset</key>
			<string>{5, -13}</string>
			<key>spriteSize</key>
			<string>{37, 70}</string>
			<key>spriteSourceSize</key>
			<string>{71, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 245}, {37, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_red_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{25, 1}, {32, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{32, 90}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{37, 403}, {32, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_red_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 1}, {40, 88}}</string>
			<key>spriteOffset</key>
			<string>{-1, 3}</string>
			<key>spriteSize</key>
			<string>{40, 88}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 81}, {40, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_red_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 7}, {40, 78}}</string>
			<key>spriteOffset</key>
			<string>{-3, 2}</string>
			<key>spriteSize</key>
			<string>{40, 78}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 168}, {40, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_red_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{29, 5}, {26, 90}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{26, 90}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 93}, {26, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_red_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 14}, {34, 82}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{34, 82}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{79, 248}, {34, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_red_9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 24}, {36, 72}}</string>
			<key>spriteOffset</key>
			<string>{1, -12}</string>
			<key>spriteSize</key>
			<string>{36, 72}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{41, 245}, {36, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{256, 512}</string>
	</dict>
</dict>
</plist>