<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>breathingAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Jump_black_</string>
		<key>delay</key>
		<real>0.15</real>
		<key>animationFrames</key>
		<string>0,0,1,1,0,0</string>
	</dict>
	<key>breathingRedAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Jump_red_</string>
		<key>delay</key>
		<real>0.15</real>
		<key>animationFrames</key>
		<string>0,0,1,1,0,0</string>
	</dict>
	<key>walkingAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Run_black_</string>
		<key>delay</key>
		<real>0.09</real>
		<key>animationFrames</key>
		<string>0,1,2,3,4,5,6,7,8,9</string>
	</dict>
	<key>walkingRedAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Run_red_</string>
		<key>delay</key>
		<real>0.09</real>
		<key>animationFrames</key>
		<string>0,1,2,3,4,5,6,7,8,9</string>
	</dict>
	<key>crouchingAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Jump_black_</string>
		<key>delay</key>
		<real>0.01</real>
		<key>animationFrames</key>
		<string>0,1,2,3</string>
	</dict>
	<key>crouchingRedAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Jump_red_</string>
		<key>delay</key>
		<real>0.01</real>
		<key>animationFrames</key>
		<string>0,1,2,3</string>
	</dict>
	<key>standingUpAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Jump_black_</string>
		<key>delay</key>
		<real>0.05</real>
		<key>animationFrames</key>
		<string>3,2,1,0</string>
	</dict>
	<key>standingUpRedAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Jump_red_</string>
		<key>delay</key>
		<real>0.05</real>
		<key>animationFrames</key>
		<string>3,2,1,0</string>
	</dict>
	<key>jumpingAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Jump_black_</string>
		<key>delay</key>
		<real>0.7</real>
		<key>animationFrames</key>
		<string>4</string>
	</dict>
	<key>jumpingRedAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Jump_red_</string>
		<key>delay</key>
		<real>0.7</real>
		<key>animationFrames</key>
		<string>4</string>
	</dict>
	<key>afterJumpingAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Jump_black_</string>
		<key>delay</key>
		<real>0.05</real>
		<key>animationFrames</key>
		<string>5,6,7,8,9,10</string>
	</dict>
	<key>afterJumpingRedAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Jump_red_</string>
		<key>delay</key>
		<real>0.05</real>
		<key>animationFrames</key>
		<string>5,6,7,8,9,10</string>
	</dict>
	<key>winningAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Celebrate_black_</string>
		<key>delay</key>
		<real>0.05</real>
		<key>animationFrames</key>
		<string>0,1,2,3,4,5,6,7,8,9,10</string>
	</dict>
	<key>winningRedAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Celebrate_red_</string>
		<key>delay</key>
		<real>0.05</real>
		<key>animationFrames</key>
		<string>0,1,2,3,4,5,6,7,8,9,10</string>
	</dict>
	<key>playerDeathAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Die_black_</string>
		<key>delay</key>
		<real>0.2</real>
		<key>animationFrames</key>
		<string>0,1,2,3,4,5,6,7,8,9,10</string>
	</dict>
	<key>playerDeathRedAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Die_red_</string>
		<key>delay</key>
		<real>0.2</real>
		<key>animationFrames</key>
		<string>0,1,2,3,4,5,6,7,8,9,10</string>
	</dict>
	<key>explodedAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Explode_</string>
		<key>delay</key>
		<string>0.075</string>
		<key>animationFrames</key>
		<string>0,1,2,3</string>
	</dict>
</dict>
</plist>
